<div class="card rounded-none bg-base-100 hover:shadow-xl border-black/10 border duration-500 transition-all">
  <figure>
    <img
      width="100%"
      height="100%"
      loading="lazy"
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
    >
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      Card Title
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <div class="badge border-neutral hover:badge-neutral cursor-pointer">Fashion</div>
      <div class="badge border-neutral hover:badge-neutral cursor-pointer">Products</div>
    </div>
  </div>
</div>
