<section>
    Banner Section
     <h1>{{ section.settings.banner_text }}</h1>
</section>

{%  schema  %} 
{
    "name": "Banner",
    
    "settings": [{
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text"
    }],
    "presets":[
        {
            "name": "Banner"
            
        }
    ]
}
{% endschema %}