<section>
    {% comment %} Banner Section {% endcomment %}
     <h1>Hello World! Hola</h1>
</section>

{%  schema  %} 
{
    "name": "Banner",
    
    "settings": [{
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text"
    }],
    "presets":[
        {
            "name": "Banner"
            
        }
    ]
}
{% endschema %}