{% if section.settings.message_bar %}
  <div class="w-full bg-slate-400 flex px-2 justify-center">
    <div class="">
      <h5>{{ section.settings.message_text }}</h5>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Message Bar",

  "settings": [
    {
      "type": "checkbox",
      "id": "message_bar",
      "label": "Message Bar Top",
      "default": false
    },
    {
      "type": "text",
      "id": "message_text",
      "label": "This is a default message bar text"
    }
  ],
  "presets": [
    {
      "name": "Message Bar"
    }
  ]
}
{% endschema %}
