<section>
  <h1>Blog</h1>
  {% assign news_blog = blogs.news %}
  {% if news_blog.articles.size > 0 %}
    {% for article in news_blog.articles %}
      <h2>{{ article.title }}</h2>
      <p>{{ article.excerpt }}</p>
      <a href="{{ article.url }}">Read more</a>
    {% endfor %}
  {% else %}
    <p>No articles available.</p>
  {% endif %}
</section>
