<section class=" p-4">
  <div class="flex flex-wrap gap-4 flex-row  md:flex-nowrap ">
    {% render 'card_single' %}
    {% render 'card_single' %}
    {% render 'card_single' %}
  </div>
</section>

{% schema %}
{
  "name": "Card",
  "settings": [],
  "presets": [
    {
      "name": "card"
    }
  ]
}
{% endschema %}
