<section class="p-5">
  <div class="flex flex-row gap-5 flex-wrap justify-center w-full ">
    {% paginate collection.products by 8 %}
      {% for product in collection.products %}
        {% render 'product_single', product_card_product: product %}
      {% endfor %}
    {% endpaginate %}
  </div>
</section>
