<section>
  <h1>This is Collection Page</h1>
  {% paginate collection.products by 8 %}
    <div class="p-5 bg-blue-300">
      {% for product in collection.products %}
        {% render 'product_single', product_card_product: product %}
      {% endfor %}
    </div>
  {% endpaginate %}
</section>
